<?xml version="1.0" ?>

<launch>
 <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find earth_rover_description)/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find earth_rover_description)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find earth_rover_description)/param/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find earth_rover_description)/param/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find earth_rover_description)/param/base_local_planner_params.yaml" command="load" />
    <rosparam file="$(find earth_rover_description)/param/dwa_local_planner_params.yaml" command="load" />
    <rosparam file="$(find earth_rover_description)/param/move_base_params.yaml" command="load" />

  </node>

</launch>


