<launch>

	<!-- Load choice of controller -->
	<arg name="controller" default="skid_controller"/>

	<rosparam file="$(find earth_rover)/config/earth_rover_skid_control.yaml" command="load"/>

	<!-- Load the controller -->
	<node name="controller_spawner" pkg="controller_manager" type="spawner" args="$(arg controller) joint_state_controller --shutdown-timeout 3"/>

</launch>
