<?xml version="1.0" ?>

<launch>
  <!--<include file="$(find earth_rover)/launch/earth_rover_robot_launch.launch" />-->

  <!-- Load the joystick -->

  <arg name="joy_config" default="ps3" />
  <arg name="joy_dev" default="/dev/input/js1" />

  <node pkg="joy" type="joy_node" name="joy_node">
    <param name="dev" value="$(arg joy_dev)" />
    <param name="deadzone" value="0.05" />
    <param name="coalesce_interval" value="0.1" />
  </node>

  <node pkg="earth_steering" name="earth_steering" type="joypad.py" output="screen">
  </node>
</launch>
