[submodule "earth_rover_description"]
	path = earth_rover_description
	url = git@github.com:RALSpaceASG/earth_rover_description.git
[submodule "jrk_hardware"]
	path = jrk_hardware
	url = git@github.com:sergioamr/jrk_hardware.git
[submodule "teleop_twist_joy"]
	path = teleop_twist_joy
	url = git@github.com:RALSpaceASG/teleop_twist_joy.git
[submodule "twist_mux"]
	path = twist_mux
	url = https://github.com/ros-teleop/twist_mux
[submodule "serial"]
	path = serial
	url = git@github.com:wjwwood/serial.git


[submodule "ublox"]
	path = ublox
	url = git@github.com:earthrover/ublox.git
[submodule "zed-ros-wrapper"]
	path = zed-ros-wrapper
	url = git@github.com:earthrover/zed-ros-wrapper.git
[submodule "four_wheel_steering_msgs"]
	path = four_wheel_steering_msgs
	url = git@github.com:ros-drivers/four_wheel_steering_msgs.git
[submodule "urdf_geometry_parser"]
	path = urdf_geometry_parser
	url = git@github.com:ros-controls/urdf_geometry_parser.git
[submodule "control_toolbox"]
	path = control_toolbox
	url = git@github.com:ros-controls/control_toolbox.git
