.idea/
.DS_Store
*.pyc

*/CMakeFiles/
*/catkin_generated/

ankle_publisher/Makefile

*/CTestTestfile.cmake
*/cmake_install.cmake
*/a.out
*.swp

four_wheel_steering_controller/CTestTestfile.cmake
four_wheel_steering_controller/Makefile

simulation/sensor_sim_gazebo/CMakeFiles
simulation/sensor_sim_gazebo/Makefile
simulation/sensor_sim_gazebo/catkin_generated

earth_rover/Makefile
earth_steering/Makefile
earth_*/Makefile
