.idea/
.DS_Store
*.pyc

*/CMakeFiles/
*/catkin_generated/

ankle_publisher/Makefile

*/CTestTestfile.cmake
*/cmake_install.cmake
*/a.out

four_wheel_steering_controller/CTestTestfile.cmake
four_wheel_steering_controller/Makefile

earth_rover/Makefile
earth_steering/Makefile
