
# Use bash
shell /bin/bash

autodetach on

# Big scrollback
defscrollback 5000

# No annoying startup message
startup_message off

# Display the status line at the bottom
hardstatus on
hardstatus alwayslastline
hardstatus string "%{.kW}%-w%{.bW}%t [%n]%{-}%+w %=%{..G} %H %{..Y} %Y/%m/%d %c"

# Setup screens
chdir /home/vagrant/Sites # All screens start in ~/Sites folder
screen -t 'core' 0 bash --rcfile .bashrc -ci /home/earth/catkin_ws/src/earth-rover-ros/scripts/launch_core.sh
screen -t 'main' 1 bash --rcfile .bashrc -ci /home/earth/catkin_ws/src/earth-rover-ros/scripts/launch_all.sh
screen -t 'imu' 2 bash --rcfile .bashrc -ci /home/earth/catkin_ws/src/earth-rover-ros/scripts/launch_imu.sh 

screen -t 'rtk' 3 bash --rcfile .bashrc -ci /home/earth/catkin_ws/src/earth-rover-ros/scripts/rtk_launch.sh
screen -t 'gps' 4 bash --rcfile .bashrc -ci /home/earth/catkin_ws/src/earth-rover-ros/scripts/launch_gps_correction.sh
screen -t 'pub' 5 bash --rcfile .bashrc -ci /home/earth/catkin_ws/src/earth-rover-ros/scripts/launch_publisher.sh
screen -t 'jstest' 6 bash --rcfile .bashrc -ci /home/earth/catkin_ws/src/earth-rover-ros/scripts/joystick_test.sh 
screen -t 'display' 7 bash --rcfile .bashrc -ci /home/earth/catkin_ws/src/earth-rover-ros/scripts/display_loop.sh

# Switch to the workspace screen
select 1

vbell off
bell_msg ""

# termcapinfo xterm ti@:te@
termcapinfo xterm 'hs:ts=\E]2;:fs=\007:ds=\E]2;screen\007:ti@:te@'

