# Use bash
shell /bin/bash

autodetach on

# Big scrollback
defscrollback 5000

# No annoying startup message
startup_message off

# Display the status line at the bottom
hardstatus on
hardstatus alwayslastline
hardstatus string "%{.kW}%-w%{.bW}%t [%n]%{-}%+w %=%{..G} %H %{..Y} %Y/%m/%d %c"

# Setup screens
chdir /home/earth/Desktop
screen -t 'camera' 0 bash --rcfile .bashrc -ci "/home/earth/Desktop/er-record-playback" 

chdir /home/earth/Desktop/data
screen -t 'rosbag' 1 bash --rcfile .bashrc -ci "/home/earth/catkin_ws/scripts/launch_rosbag.sh"

select 1

vbell off
bell_msg ""

# termcapinfo xterm ti@:te@
termcapinfo xterm 'hs:ts=\E]2;:fs=\007:ds=\E]2;screen\007:ti@:te@'

